.btn .btn-background {
  background-color: #113c5e;
  width: max-content;
}

/* styles.css */
.btn-background {
  background-color: #007bff;
  border: none;
  color: white;
}

.btn-background:hover {
  background-color: #0056b3;
}
